#php_value short_open_tag on

<IfModule mod_rewrite.c>
	RewriteEngine On

	# Allow direct access to existing files and directories
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	# Route all other requests to index.php
	RewriteRule .* index.php [L]
</IfModule>

<IfModule mod_deflate.c>
	# html, xml, css, and js:
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript text/javascript application/javascript application/json

	# webfonts and svg:
	<FilesMatch "\.(ttf|otf|eot|svg)$" >
		SetOutputFilter DEFLATE
	</FilesMatch>
</IfModule>

AddType text/cache-manifest				manifest
