#php_value short_open_tag on

<IfModule mod_rewrite.c>
RewriteEngine On

# Allow direct access to existing files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route all other requests to index.php
RewriteRule .* index.php [L]
</IfModule>
