/* Stylesheet Reset */
* {
	margin: 0px;
	padding: 0px;
}

/* Layout */

a img {
	border: 0px;
}

body {
	background-color: #D4D2CF;
	color: #594C42;
	text-align: center;
	font-family: "Helvetica World", "Liberation Sans", "Trebuchet MS", Arial, sans-serif;
}

#wrapper {
	margin: 25px auto;
	width: 1006px;
}

#header {
	margin-bottom: 25px;
}

#menu {
	width: 161px;
	float: left;
	list-style: none;
	padding-top: 15px;
}

	#menu li {
		display: block;
		height: 30px;
		text-align: right;
		margin-bottom: 3px;
		background-color: #E2E0DE;
		-moz-border-radius-topleft: 8px;
		-webkit-border-radius-topleft: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-radius-bottomleft: 8px;
		border-right: 2px solid #DDDBD9;
	}
	
	#menu a {
		color: #666;
		text-decoration: none;
		margin-right: 10px;
		width: 140px;
		display: block;
		background-position: 10px center;
		line-height: 30px;
		background-repeat: no-repeat;
	}
	
	#menu a:hover {
		color: #17B3D1;
	}
	
	#menu li.selected {
		background-color: #EDECEB;
		width: 166px;
		z-index: 0;
		position: relative;
		border: 0;
	}
	
	#modules { background-image: url('../img/fw_modules_ico.png'); }
	#database { background-image: url('../img/fw_database_ico.png'); }
	#settings { background-image: url('../img/fw_settings_ico.png'); }
	
	#menu .selected a {
		color: #17B3D1;
		margin-right: 20px;
	}

#content {
	background-color: #EDECEB;
	width: 838px;
	min-height: 150px;
	float: left;
	text-align: left;
	padding-bottom: 15px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	/*border: 1px solid #C9C1BB;*/
	-moz-box-shadow: 3px 3px 3px rgba(194, 194, 194, 0.3);
	-webkit-box-shadow:3px 3px 3px rgba(194, 194, 194, 0.3);
}
	
	#content ul, form, p {
		margin: 0px 30px;
	}
	
	h1 {
		text-align: left;
		padding: 10px 10px 0px 30px;
		font-size: 18pt;
		color: #17B3D1;
	}
	
	a {
		color: #17B3D1;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}

#footer {
}

/* Elements */

.action {
	background-color: #EDECEB;
	border: 2px solid #1E9C6D;
	color: #1E9C6D;
	
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	line-height: 24px;
	padding: 0px 10px;
	
	font-weight: bold;
}

.action:hover {
	text-decoration: none;
	color: #EDECEB;
	border: 2px solid #EDECEB;
	background-color: #1E9C6D;
}

/* Tables */

table {
	border-spacing: 2px;
	margin: 15px 30px;
}

th {
	color: #FFF;
	border: 1px solid #474747;
	background: #3F3F3F url('../img/fw_button_bg.png') repeat-x top left;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 2px 20px 2px 10px;
}

td {
	border-bottom: 1px dotted #C9C1BB;
	padding: 2px 5px;
}

/* Messages */

.msg {
	background-color: #1E9C6D;
	padding: 2px 10px;
	color: #EDECEB;
}
